
/* 
SEARCH-BAR 
*/

.toolbar{
  height: 70px;  
}

.search-bar{
    background-color: rgb(235, 230, 230);
    padding: 6px 4px;
    height: 42px;
}

.toolbar a{
    color: black;
}

.bell-icon{
    color: rgb(201, 144, 0);
}

ul, ol, li {
    margin-bottom: 0;
}

.search-bar span{
    font-size: 14px;
    color: rgb(82, 82, 82);
}

.logo-small{
    height: 46px;
}
