a:not(.card-link){
    text-decoration: none;
    color: currentColor;
}

ul, ol, li{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.container-ms{
    width: 100%;
    margin: 0 auto;
}


/*
PALETTE 
 */

:root{
    --dark-blue: #165BBA;
    --ms-grey: #6c6e71;
}

/*
UTILITY 
*/

.ms-fs-14{
    font-size: 14px;
}

.ms-fs-10{
    font-size: 10px;
}

.ms-text-bg-warning{
    color: white;
    background-color: #FFC107;
}

.ms-auto{
    margin: 0 auto;
}

.white-space-nowrap{
    white-space: nowrap;
}

/* 
SEARCH-BAR 
*/

.container-full{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.toolbar{
  height: 70px;  
}

.search-bar{
    background-color: rgb(235, 230, 230);
    padding: 6px 4px;
    height: 42px;
    white-space: nowrap;
}

.toolbar a{
    color: black;
}

.bell-icon{
    color: rgb(201, 144, 0);
}

ul, ol, li {
   
    list-style: none;
    text-decoration: none;
}

.search-bar span{
    font-size: 14px;
    color: rgb(82, 82, 82);
}

.logo-small{
    height: 46px;
}

.offcanvas-body label{
    font-size: 14px;
}


/* 
NAVBAR 
*/

.navbar{
width: 68px;
background-image: url(../img/sidebar-bg.png);
background-color: #051E34;
background-size: cover;
color: white;
height: calc(100vh - 70px);
}

.navbar-settings{
    margin-top: auto;
}

.navbar-menu{
    margin-bottom: auto;
}

.navbar .navbar-icon{
    width: 30px;
    text-align: center;
}


.navbar a:hover{
    background-color: #9cabc0;
}

/*
MAIN-APP 
*/


/* HEADER */
.app-header{
    background-color: #1B72E8;
}



.dark-blue-pill{
    color: white;
    background-color: var(--dark-blue);
}

.card-table-avatar{
    width: 30px;
}

:is(table) th,
:is(table) td{
    font-weight: 600;
}

td:nth-child(2),
td:nth-child(3){
    display: none;
}

th:nth-child(2),
th:nth-child(3){
    display: none;
}

.table th:not(:first-child){
    text-align: center;
}

.table td:not(:first-child){
    text-align: center;
}








/* 
MEDIA QUERY 
*/

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
    
    td:nth-child(2),
    td:nth-child(3){
    display: table-cell;
}

    th:nth-child(2),
    th:nth-child(3){
    display: table-cell;
}

}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
    .navbar{
        width: 150px;
    }


}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) {}

